.coluna_maior {
  margin-left: 48px;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
}

.coluna_maior h2 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-left: 12px;
  font-weight: 800;
}

.habilidade {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  margin: 12px;
  width: 327px;
  height: min-content;
}

.habilidade h3 {
  font-size: 30px;
  font-weight: 700;
}

.habilidade p {
  font-size: 20px;
  margin-bottom: 12px;
}

.progresso {
  display: flex;
  width: 100%;
}

.barra {
  width: 20%;
  height: 4px;
  background-color: #a100f233;
  opacity: 0.2;
  margin-top: 8px;
}

.incompleto {
  opacity: 0.2;
}

.up {
  opacity: 1;
}

.coluna_maior li {
  margin-top: 32px;
}

.habilidade li:first-child {
  margin-top: 0px;
}

.tituloprojetos {
  margin-top: 30px;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
}

#outer {
  perspective: 40px;
}

.projeto {
  max-width: 360px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
  display: grid;
  grid-template-rows: min-content minmax(min-content, 1fr);
  height: min-content;
}

.projeto h3 {
  font-size: 24px;
  font-weight: bold;
}

.projeto p {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  width: auto;
  font-size: 0.95rem;
}

.project-github-links {
  display: flex;
  gap: 12px;
}

.projeto img {
  width: 100%;
  display: block;
  align-self: flex-end;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.github {
  color: black;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 2px 0;
}

.github:hover {
  text-decoration: underline;
}

a.link_button {
  display: inline-block;
  background-color: #2d00f7;
  color: white;
  padding: 8px 24px;
  font-family: "Montserrat", "Open Sans", sans-serif;
  border-radius: 6px;
  border: none;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
  transition: 200ms;
  outline: none;
  align-self: flex-end;
  justify-self: left;
}

a.link_button:hover {
  background-color: #a100f2;
  cursor: pointer;
}

@media (max-width: 700px) {
  .coluna_maior {
    margin-left: unset;
  }

  .coluna_maior h2 {
    margin-left: 0;
  }

  .habilidade {
    margin: 12px auto;
    text-align: left;
    width: 100%;
  }

  .projeto {
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
