h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 54px;
  color: white;
}

#ptit {
  color: rgba(255, 255, 255, 0.8);
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 span {
  font-weight: normal;
}

h3 span {
  font-weight: normal;
}

p {
  font-family: "Open Sans", sans-serif;
}

.profissao {
  font-size: 24px;
}

p.t60 {
  color: rgba(0, 0, 0, 0.6);
}

header {
  background: url("https://i.pinimg.com/originals/f4/14/b1/f414b1a69df82ce79b5b7f417848fd3d.jpg"),
    white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 64px;
  display: flex;
}

body {
  background-color: #e5e5e5;
  margin: 0;
}

.dados {
  padding-bottom: 12px;
}

.foto {
  width: 200px;
  height: 200px;
  border: 4px solid #6a00f4;
  border-radius: 50%;
  margin-bottom: -90px;
  margin-right: 24px;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

main {
  padding: 40px 70px;
  display: flex;
}

.coluna_menor {
  margin-top: 48px;
  width: 288px;
}

.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha {
  border-color: #db00b6;
}

.formacao .linha {
  border-color: #6a00f4;
}

.coluna_menor img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.coluna_menor li {
  margin-top: 32px;
  display: flex;
}

.conteudo {
  display: inline-block;
}

.formacao {
  margin-top: 32px;
}

.coluna_maior {
  margin-left: 24px;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
}

.coluna_maior h2 {
  font-size: 42px;
  margin-bottom: 20px;
  margin-left: 12px;
}

.habilidade {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}

.habilidade h3 {
  font-size: 30px;
}

.habilidade p {
  font-size: 20px;
}

.progresso {
  display: flex;
  width: 100%;
}

.barra {
  width: 20%;
  height: 4px;
  background-color: #a100f2;
  margin-top: 8px;
}

.incompleto {
  opacity: 0.2;
}

.coluna_maior li {
  margin-top: 32px;
}

.habilidade li:first-child {
  margin-top: 0px;
}

.tituloprojetos {
  margin-top: 30px;
}

.projetos {
  display: flex;
  flex-wrap: wrap;
}

.projeto {
  width: 360px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
}

.projeto h3 {
  font-size: 24px;
  font-weight: bold;
}

.projeto p {
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
}

.projeto img {
  width: 350px;
  display: block;
}

.projeto a {
  display: inline-block;
  text-decoration: none;
  background-color: #2d00f7;
  color: white;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
  transition: 200ms;
  outline: none;
}

.projeto a:hover {
  background-color: #a100f2;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #14004d;
  color: white;
  padding: 57.6px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
