main {
  padding: 40px 70px;
  display: flex;
}

@media (max-width: 700px) {
  main {
    display: grid;
    grid-template-areas: "habilidades";
    padding: 100px 12px 50px 12px;
    justify-items: center;
    text-align: center;
  }
  .coluna_maior {
    grid-area: habilidades;
  }
}
