.App {
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3,
.conteudo span {
  font-size: 16px;
}

.conteudo span {
  font-weight: normal;
}

.t60 {
  color: rgba(0, 0, 0, 0.6);
}

ul,
ol {
  list-style: none;
  padding: 0;
}
